#nav ul, #nav li{
	margin:0px;
	padding:0px;
}
#nav li{
	display:inline;
	list-style:none;
	list-style-position:outside;
	text-align:left;
	font-weight:bold;
	float:left;
}

#nav a:link, #nav a:visited {
	color: blue;
	text-decoration: none;
	float: left;
	padding: 0 5px;
	margin: 0 5px;
	line-height: 25px;

   transition: color .8s ease-in-out .1s;
   -moz-transition: color .8s ease-in-out .1s;
   -webkit-transition: color .8s ease-in-out .1s;
   -o-transition: color .8s ease-in-out .1s;
}

#nav a:hover {
	color: tomato;
	text-decoration: underline;
	background-color: rgb(196,240,196);

	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;

	transition: color .8s ease-in-out;
	-moz-transition: color .8s ease-in-out;		/* Firefox 4 */
	-webkit-transition: color .8s ease-in-out;	/* Safari and Chrome */
	-o-transition: color .8s ease-in-out;			/* Opera */

	transition: background-color .15s ease-in-out .1;
	-moz-transition: background-color .15s ease-in-out .1;		/* Firefox 4 */
	-webkit-transition: background-color .15s ease-in-out .1;;	/* Safari and Chrome */
	-o-transition: background-color .15s ease-in-out .1;			/* Opera */
}

#nav{
  font-family:"Marmelad", "WenQuanYi ZenHei", 文泉驿正黑, "Hiragino Sans GB", "STHeiti",  Helvetica, Arial, Sans-Serif;
  font:12px;
	width:900px;
	/*height:30px;*/
	border-bottom:0px;
	padding:0px 5px;
	position:relative;
	z-index:1;
	top: 5px;
}

#nav .list
{
	width: auto;
	height:auto;
	text-align: left;
	padding: 0 4px;
	margin: 0 4px;
	font-weight: normal;
	clear: left;
}

#nav .list .title
{
	width: 100px;
	height:auto;
	text-align: left;
	padding: 4px;
	font-weight: bold;
	color: steelblue;
	float: left;
	position: static;
	clear: left;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
}

#nav .catalog{
	width:900px;
	height:30px;
	margin:2px 4px 0px 0px;
	/*background-color:White;*/
	color:#999999;
	border:1px solid #EEE8DD;
	padding:2px 0px 0px 0px;
	overflow-y:hidden;
	cursor:hand;	
}

/*.catalog .title
{
	font-weight: bold;
	color: #999999;
}*/

#nav .foot
{
	text-align: left;
	padding: 4px;
	color: steelblue;
	float: left;
	position: relative;
	clear: left;
	margin:5px 4px 0px 0px;
	padding:5px 0px 0px 0px;
}

#nav .foot .txt
{
	float:left;
	clear:left;
	font-size: 12px;
	line-height: 18pt;
}

#nav .foot a:link, .foot a:active, .foot a:visited
{
	float: left;
	color: #0066cc;
	text-decoration: none;
	line-height: 18pt;
	font-size: 12px;
	padding: 0 8px;
	margin: 0;
}
#nav .foot a:hover
{
	float: left;
	text-decoration: underline;
	background-color: White;
	text-decoration: underline;
	line-height: 18pt;
	font-size: 12px;
}
