pre{color: #f8f8f2; padding:1.2em 1.2em 0.8em;margin:1em 0;overflow:auto;
	border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;}
pre{padding-top:0.8em;background:#272822;}
.sourceCode{position:relative;background:#272822;}

pre
code{padding:0;margin:0;background:none;border:none;}
/*.sourceCode code:before{content:attr(class);position:absolute;top:0;right:0;color:#bde;font-size:1em;font-family:Constantia,Georgia;padding:3px 5px;background:#345;text-transform:uppercase;
	border-radius:0 5px 0 5px;-webkit-border-radius:0 5px 0 5px;-moz-border-radius:0 5px 0 5px;}
pre, code { color: #cccccc; background-color: #303030; }*/

.sourceCode .kw { color: #268BD2; }

.sourceCode .dt { color: #268BD2; }

.sourceCode .dv, .sourceCode .bn, .sourceCode .fl { color: #D33682; }

.sourceCode .ch { color: #DC322F; }

.sourceCode .st { color: #2AA198; }

.sourceCode .co { color: #93A1A1; }

.sourceCode .ot { color: #A57800; }

.sourceCode .al { color: #CB4B16; font-weight: bold; }

.sourceCode .fu { color: #268BD2; }

.sourceCode .re { }

.sourceCode .er { color: #D30102; font-weight: bold; }
