#nav ul,#nav li{margin:0;padding:0;}
#nav li{display:inline;list-style:none;list-style-position:outside;text-align:left;font-weight:700;float:left;}
#nav a:link,#nav a:visited{color:blue;text-decoration:none;float:left;line-height:25px;transition:color .8s .1s ease-in-out;margin:0 5px;padding:0 5px;}
#nav a:hover{color:#FF6347;text-decoration:underline;background-color:#c4f0c4;border-radius:5px;transition:color .8s ease-in-out;}
#nav{font-size:.9em;width:900px;border-bottom:0;position:relative;z-index:1;top:5px;padding:0 5px;}
#nav .list{width:auto;height:auto;text-align:left;font-weight:400;clear:left;margin:0 4px;padding:0 4px;}
#nav .list .title{width:100px;height:auto;text-align:left;font-weight:700;color:#4682B4;float:left;position:static;clear:left;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;padding:4px;}
#nav .catalog{width:900px;height:30px;color:#999;border:#EEE8DD solid 1px;overflow-y:hidden;margin:2px 4px 0 0;padding:2px 0 0;}
#nav .foot{text-align:left;color:#4682B4;float:left;position:relative;clear:left;margin:5px 4px 0 0;padding:5px 0 0;}
#nav .foot .txt{float:left;clear:left;font-size:12px;line-height:18pt;}
#nav .foot a:link,.foot a:active,.foot a:visited{float:left;color:#06c;text-decoration:none;line-height:18pt;font-size:12px;margin:0;padding:0 8px;}
#nav .foot a:hover{float:left;background-color:#FFF;text-decoration:underline;line-height:18pt;font-size:12px;}