body:after{content:url(../img/close.png) url(../img/loading.gif) url(../img/prev.png) url(../img/next.png);display:none;}
.lightbox .lb-image{display:block;height:auto;border-radius:3px;}
.lightbox a img{border:none;}
.lb-container{padding:4px;}
.lb-loader{position:absolute;top:43%;left:0;height:25%;width:100%;text-align:center;line-height:0;}
.lb-cancel{display:block;width:32px;height:32px;background:url(../img/loading.gif) no-repeat;margin:0 auto;}
.lb-nav{position:absolute;top:0;left:0;height:100%;width:100%;z-index:10;}
.lb-container > .nav{left:0;}
.lb-nav a{outline:none;}
.lb-prev,.lb-next{width:49%;height:100%;cursor:pointer;display:block;}
.lb-prev{left:0;float:left;}
.lb-prev:hover{background:url(../img/prev.png) left 48% no-repeat;}
.lb-next{right:0;float:right;}
.lb-next:hover{background:url(../img/next.png) right 48% no-repeat;}
.lb-data{color:#bbb;padding:0 4px;}
.lb-data .lb-details{width:85%;float:left;text-align:left;line-height:1.1em;}
.lb-data .lb-caption{font-size:13px;font-weight:700;line-height:1em;}
.lb-data .lb-number{display:block;clear:left;padding-bottom:1em;font-size:12px;color:#999;}