<!doctype html>
<html>
<head>
  {% include header.html %}
    <link rel="stylesheet" href="/public/css/favorite.css" />
</head>
<body>
  <div class="container">
    <div class="row">
      {% include navside.html %}
      <div class="col-md-13 col-lg-13 col-sm-13 col-xs-13 aside3">
        <div id="container">
          <div id="pjax">
            <div class="row">
              <div class="col-md-13 aside3-title">
                <br>
                <div id="identifier">{{ page.title }}</div>
              </div>
              <div class="col-md-13 aside3-content">
                <div id="page-content">
                  {{ content }}
                </div>
                <br>
              </div>
            </div>
  {% include copyright.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include footer.html %}
  {% include googleanalytics.html %}
</body>
</html>
