---
layout: default
---

<div class="article-list">
	{{ content }}
</div>

<aside class="aside">
	<div>
		<h3>分类</h3>
		<ul>
			{% for category in site.categories %}
			<li><a href="/category.html#{{category[0]}}">{{category[0]}} ({{category[1] | size}})</a></li>
			{% endfor %}
		</ul>
	</div>
	<div>
		<h3>链接</h3>
		<ul>
			<li><a href="http://blog.sina.com.cn/loongfee" target="_blank">Sina</a></li>
			<li><a href="http://www.cnblogs.com/loongfee/" target="_blank">cnBlog</a></li>
		</ul>
	</div>
	<script type="text/javascript"><!--
	google_ad_client = "ca-pub-7452723453274591";
	/* first ad */
	google_ad_slot = "3112180067";
	google_ad_width = 300;
	google_ad_height = 250;
	//-->
	</script>
	<script type="text/javascript"
	src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
	</script>
</aside>
